body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Navbar */
  nav {
    background-color: #333;
    text-align: center;
    padding: 10px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #00a859;
  }
  
  /* Welcome Section */
  #welcome-section {
    background-color: #f2f2f2;
    padding: 50px;
    text-align: center;
  }
  
  /* Experience Section */
  #experience {
    padding: 20px;
  }
  
  .job-tile {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
  }
  
  /* Education, Certifications, Skills, and Contact Sections */
  #education,
  #certifications,
  #skills,
  #contact {
    padding: 20px;
  }
  
  #education h2,
  #certifications h2,
  #skills h2,
  #contact h2 {
    margin-bottom: 20px;
  }
  
  /* Profile Link */
  #profile-link {
    display: block;
    background-color: #00a859;
    color: #fff;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
  }
  
  #profile-link:hover {
    background-color: #007947;
  }
  
  /* Responsive Styling */
  @media screen and (max-width: 600px) {
    #navbar {
      text-align: left;
    }
  
    li {
      display: block;
      margin: 10px 0;
    }
  
    .job-tile {
      font-size: 14px;
    }
  
    #profile-link {
      margin: 20px auto;
    }
  }